/* Canvas btns */
#zoomControl{
  width: 650px;
}

/* Canvas (ratio is 13/9)*/
#canvas-bg{
  width: 650px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
}

canvas{
  width: 650px;
  height: 450px;
  border: 1px black solid;
  position: absolute;
}
