/* Main grid container section */
main {
  margin: 0px;
  padding-left: 20px;
  padding-top: 12px;
}

/* Sprites Menu */
menu{
  margin: 0px;
  padding: 0px;
  /* border: 1px solid black; */
  display: flex;
  justify-content:space-between;
}

/* Main menu buttons */
.menu-btn{
  font-size: 14px;
  margin: 0px
  padding: 2px 5px;
  border: 1px rgba(0, 0, 0, 0.125) solid;
  border-radius: .25rem .25rem 0px 0px;
}

/* preview icon sizes */
.small-char{
  height: 80px;
}

/* set color/border for all sprite buttons inside card-body */
.card-body > button {
  background-color: white;
  border: 0px;
}
