/* for popups */

.modal-popup {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    border: 1px solid darkgray;
    width: fit-content;
    box-shadow: 0px 0px 10px 1px #5E8A51;
    /* vertical centering */
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.close {
    z-index: 10;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-top: -55px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
