/* Overall page */
body {
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  background-color: white;
}

/* Heading */
.title-text{
  text-align: center;
}

/* Grid system */
.grid-container{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 650px auto;
  padding: 20px;
}

/* Canvas */
/* note: canvas ratio is always: 13/9*/
#canvas-bg{
  width: 650px;
  height: 450px;
  background-size: cover;
}

canvas{
  width: 650px;
  height: 450px;
  border: 1px black solid;
    position: absolute;
}

/* Main grid container section */
main {
  margin: 0px;
  padding: 0px 20px;
}

/* Sprites Menu */
menu{
  margin: 0px;
  padding: 0px;
  /* border: 1px solid black; */
  display: flex;
  justify-content:space-between;
}

/* Main menu buttons */
.menu-btn{
  font-size: 14px;
  margin: 0px
  padding: 2px 5px;
  border: 1px solid;
  border-radius: 2px 2px 0px 0px;
}

.btn-active{
  background-color: white;
  border-bottom: 0px;
}

/* preview icon sizes */
.small-char{
  height: 80px;
}
