<button id="betakids-btn" class="menu-btn active" onclick="show('betakids')" style="background-color:white;border-bottom:white;">Beta Kids</button>
<button id="alphakids-btn" class="menu-btn" onclick="show('alphakids')">Alpha Kids</button>
<button id="trolls-btn" class="menu-btn" onclick="show('trolls')">Trolls</button>
<button id="other-btn" class="menu-btn" onclick="show('other')">Other</button>
<button id="objs-btn" class="menu-btn" onclick="show('objs')">Objects</button>
<button id="bgs-btn" class="menu-btn" onclick="show('bgs')">Backgrounds</button>
