<div class="wrapper">
<div class="mobile-content">
    <h5 class="hal-text">TT: Possible difficulties detected.</h5>
    <p>It seems you're viewing this website on a pretty small screen, which probably means you're viewing it on a mobile device. Whilst you <em>could</em> use this comic maker on a mobile, you probably wouldn't find it the easiest or most effective way of bringing your thinkpan tapestries to life. You're welcome to try anyway, though.
    </p>
    <a href="#" class="hs" onclick="toModal()">==> Alright.</a>
    <br>
</div>
<div class="cookie-check">
  <input id="mobileCookie" type="checkbox" value="mobile">  <label for="mobile">Hide this message forever</label>
</div>
</div>
