<div class="modal-content">
  <span class="close" onclick="closeModal()">Close &times;</span>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        <li id="about" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li id="instructions" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li id="contact" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li id="credit" data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div id="about" class="carousel-item active">
            <img class="d-block w-100" src="./imgs/nopreview.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="typostuck">Welcome to the Homestuck Comic Maker!</h2>
              <p>text</p>
            </div>
        </div>
        <div id="instructions" class="carousel-item">
            <img class="d-block w-100" src="./imgs/nopreview.png" alt="Second slide">
        </div>
        <div id="contact" class="carousel-item">
            <img class="d-block w-100" src="./imgs/nopreview.png" alt="Third slide">
        </div>
        <div id="credit" class="carousel-item">
            <img class="d-block w-100" src="./imgs/nopreview.png" alt="Credit">
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

</div>
