<!-- TODO: cleanup/customize bootstrap code -->
<h1 class="title-text">Homestuck Comic Maker</h1>
<div class="" id="navbarSupportedContent">
  <div class="navbar-nav mr-auto">
    <div class="nav-item">
      <a id="about" class="nav-link modal-btn" onclick="displayModal()">About</a>
    </div>
    <div class="nav-item modal-btn">
      <a id="instructions" class="nav-link" onclick="displayModal()">Instructions</a>
    </div>
    <div class="nav-item modal-btn">
      <a id="contact" class="nav-link" onclick="displayModal()">Contact</a>
    </div>
    <div class="nav-item modal-btn">
      <a class="nav-link" href="https://github.com/z-zang/Homestuck-Comic-Maker" target="_blank">On Github</a>
    </div>
  </div>
</div>
