<!-- TODO: cleanup/customize bootstrap code -->
<a class="navbar-brand title-text" href="#">Homestuck Comic Maker</a>

<div class="" id="navbarSupportedContent">
  <div class="navbar-nav mr-auto">
    <div class="nav-item">
      <a class="nav-link modal-btn" onclick="displayModal()">About</a>
    </div>
    <div class="nav-item modal-btn">
      <a class="nav-link" onclick="displayModal()">Instructions</a>
    </div>
    <div class="nav-item modal-btn">
      <a class="nav-link" onclick="displayModal()">Contact</a>
    </div>
    <div class="nav-item modal-btn dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        View Repo
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="https://github.com/z-zang/Homestuck-Comic-Maker" target="_blank">Github</a>
        <a class="dropdown-item" href="#">Glitch</a>
      </div>

    </div>


  </div>
</div>
